#snipes-concurrent {
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  color: #fff;
  display: block;
  padding: 3px 8px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#snipes-frame {
  border: none;
  overflow: hidden;
  position: relative;
}

.snipes-cursor {
  background: url(../img/mouse.png) no-repeat;
  height: 32px;
  left: -32px;
  position: absolute;
  top: -32px;
  width: 32px;
  z-index: 999999;
}

.snipes-pulse {
  background: none;
  border: 3px solid #22d;
  height: 0;
  opacity: 1;
  left: -32px;
  position: absolute;
  top: -32px;
  width: 0;
  z-index: 999998;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}